{% extends "base.html" %}
{% block title %} {{ block.super }} - {{ question.title }} {% endblock %}
{% block content %}
    <ul>{{ question.title }}</ul>
    <ul>{{ question.text }}</ul>
    <ul>
    {% for answer in answers %}
        {{ answer.text }}
        <ul><p>{{ answer.author }} add at {{ answer.added_at }}</p></ul>
    {% endfor %}
    </ul>
    <ul>
{#        <form class="form-horizontal" method="post" action={% url 'answer' %}>#}
{#            {% csrf_token %}#}
{#            <fieldset>#}
{#                {% for field in form %}#}
{#                    <div class="control-group">#}
{#                        {% if field.errors %}has-error{% endif %}#}
{#                        <label class="control-label" > {{ field.label }} </label>#}
{#                        <div class="controls" > {{ field }} </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#                    <div class="control-group">#}
{#                        <p>Введите текст</p>#}
{#                        <div class="controls" > {{ form.text }} </div>#}
{#                        <input type="hidden" name = "question" value="{{question.id}}">#}
{#                    </div>#}
{##}
{#            </fieldset>#}
{#            <div class="form-actions">#}
{#                <button type="submit" class="btn btn-primary">#}
{#                    Сохранить#}
{#                </button>#}
{#            </div>#}
{#        </form>#}

  {% block question_ask %}
    <h1>Your answer:</h1>
    {% for e in form.non_field_errors %}
      <div class="alert">{{ e }}</div>
    {% endfor %}
    <div class="form">
      <form method="post" action="/answer/">
        {% csrf_token %}
          {% for field in form %}
             <div class="form-field"{% if field.errors %} alert{% endif %}>
               {{ field }}
               {{ field.errors }}
             </div>
          {% endfor %}
        <button type="submit" class="btn">Add answer</button>
      </form>
    </div>
  {%endblock%}


    </ul>

{% endblock %}